@font-face {
  font-family: 'APL385';
  src: url('./fonts/APL385.TTF') format('truetype');
}

* {
  font-family: 'APL385', fallback-font, sans-serif;
  text-align: center;
  align-items: center;
}
 
  